<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                    <h5>
                        <i class="fa fa-laptop" aria-hidden="true"> Tecnologias</i>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            Node Js
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[2].beforetecla%>0%" aria-valuenow="<%=tablas.tecno[2].beforetecla%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[2].aftertecla%>0%" aria-valuenow="<%=tablas.tecno[2].aftertecla%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Frontend
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[4].beforetecla%>0%" aria-valuenow="<%=tablas.tecno[4].beforetecla%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[4].aftertecla%>0%" aria-valuenow="<%=tablas.tecno[4].aftertecla%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Swagger
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[3].beforetecla%>0%" aria-valuenow="<%=tablas.tecno[3].beforetecla%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[3].aftertecla%>0%" aria-valuenow="<%=tablas.tecno[3].aftertecla%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Javascript
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:<%=tablas.tecno[0].beforetecla%>0%" aria-valuenow="<%=tablas.tecno[0].beforetecla%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:<%=tablas.tecno[0].aftertecla%>0%" aria-valuenow="<%=tablas.tecno[0].aftertecla%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            JWT
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[1].beforetecla%>0%" aria-valuenow="<%=tablas.tecno[1].beforetecla%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[1].aftertecla%>0%" aria-valuenow="<%=tablas.tecno[1].aftertecla%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            MVC
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[5].beforetecla%>0%" aria-valuenow="<%=tablas.tecno[5].beforetecla%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.tecno[5].aftertecla%>0%" aria-valuenow="<%=tablas.tecno[5].aftertecla%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-header" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                    <h5>
                        <i class="fa fa-laptop" aria-hidden="true"> Habilidades</i>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            Enfocado
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:<%=tablas.habil[0].beforehabilidad%>0%" aria-valuenow="<%=tablas.habil[0].beforehabilidad%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[0].afterhabilidad%>0%" aria-valuenow="<%=tablas.habil[0].afterhabilidad%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Trabajo en equipo
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[1].beforehabilidad%>0%" aria-valuenow="<%=tablas.habil[1].beforehabilidad%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[1].afterhabilidad%>0%" aria-valuenow="<%=tablas.habil[1].afterhabilidad%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Comprometido
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[2].beforehabilidad%>0%" aria-valuenow="<%=tablas.habil[2].beforehabilidad%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[2].afterhabilidad%>0%" aria-valuenow="<%=tablas.habil[2].afterhabilidad%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Comunicacion
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[5].beforehabilidad%>0%" aria-valuenow="<%=tablas.habil[5].beforehabilidad%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[5].afterhabilidad%>0%" aria-valuenow="<%=tablas.habil[5].afterhabilidad%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Capacidad de aprendizaje
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[3].beforehabilidad%>0%" aria-valuenow="<%=tablas.habil[3].beforehabilidad%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[3].afterhabilidad%>0%" aria-valuenow="<%=tablas.habil[3].afterhabilidad%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Resolucion de problemas
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[4].beforehabilidad%>0%" aria-valuenow="<%=tablas.habil[4].beforehabilidad%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.habil[4].afterhabilidad%>0%" aria-valuenow="<%=tablas.habil[4].afterhabilidad%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                    <h5>
                        <i class="fa fa-laptop" aria-hidden="true"> Conocimientos</i>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            Bases de datos
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[1].beforeconocimiento%>0%" aria-valuenow="<%=tablas.cono[1].beforeconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[1].afterconocimiento%>0%" aria-valuenow="<%=tablas.cono[1].afterconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Apis
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[0].beforeconocimiento%>0%" aria-valuenow="<%=tablas.cono[0].beforeconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[0].afterconocimiento%>0%" aria-valuenow="<%=tablas.cono[0].afterconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Testing
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:<%=tablas.cono[4].beforeconocimiento%>0%" aria-valuenow="<%=tablas.cono[4].beforeconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:<%=tablas.cono[4].afterconocimiento%>0%" aria-valuenow="<%=tablas.cono[4].afterconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Seguridad
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: width:<%=tablas.cono[2].beforeconocimiento%>0%" aria-valuenow="width:<%=tablas.cono[2].beforeconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[2].afterconocimiento%>0%" aria-valuenow="<%=tablas.cono[2].afterconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Teoria de objetos
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[2].beforeconocimiento%>0%" aria-valuenow="<%=tablas.cono[3].beforeconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.cono[2].afterconocimiento%>0%" aria-valuenow="<%=tablas.cono[2].afterconocimiento%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-header" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                    <h5>
                        <i class="fa fa-laptop" aria-hidden="true"> Entornos</i>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            Versionado - Github
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[0].beforeentorno%>0%" aria-valuenow="<%=tablas.entor[0].beforeentorno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[0].afterentorno%>0%" aria-valuenow="<%=tablas.entor[0].afterentorno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Trello o Jira
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[2].beforeentorno%>0%" aria-valuenow="<%=tablas.entor[2].beforeentorno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[2].afterentorno%>0%" aria-valuenow="<%=tablas.entor[2].afterentorno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Slack
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[3].beforeentorno%>0%" aria-valuenow="<%=tablas.entor[3].beforeentorno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[3].afterentorno%>0%" aria-valuenow="<%=tablas.entor[3].afterentorno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Metodologias agiles
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[1].beforeentorno%>0%" aria-valuenow="<%=tablas.entor[1].beforeentorno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.entor[1].afterentorno%>0%" aria-valuenow="<%=tablas.entor[1].afterentorno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                    <h5>
                        <i class="fa fa-laptop" aria-hidden="true"> Desempeno</i>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            Calidad del codigo
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.desempeno[0].beforedesempeno%>0%" aria-valuenow="<%=tablas.desempeno[0].beforedesempeno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.desempeno[0].afterdesempeno%>0%" aria-valuenow="<%=tablas.desempeno[0].afterdesempeno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Velocidad de entrega
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.desempeno[1].beforedesempeno%>0%" aria-valuenow="<%=tablas.desempeno[1].beforedesempeno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.desempeno[1].afterdesempeno%>0%" aria-valuenow="<%=tablas.desempeno[1].afterdesempeno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-white">
                            Performance del codigo
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.desempeno[2].beforedesempeno%>0%" aria-valuenow="<%=tablas.desempeno[2].beforedesempeno%>0" aria-valuemin="0" aria-valuemax="100">Antes</div>
                                    </div>
                                </p>
                                <p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%=tablas.desempeno[2].afterdesempeno%>0%" aria-valuenow="<%=tablas.desempeno[2].afterdesempeno%>0" aria-valuemin="0" aria-valuemax="100">Despues</div>
                                    </div>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card mt-4 bg-dark text-white">
    <section class="mt-3">
        <form action="">
            <div class="comments-comment-textedit">
                <input type="text" class="form-control" placeholder="Write Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append" style="position: relative; flex-direction: row-reverse;">
                    <button type="button" class="btn btn-light btn-sm mt-1">Comentar</button>
                </div>
            </div>
        </form>
    </section>
</div>
<div class="card mt-2 bg-dark text-white">
    <div class="card-header">
        <i class="fas fa-comments"></i> Comentarios
    </div>
    <div class="card p-2 mt-3 bg-dark text-white">
        <!-- comment header -->
        <div class="d-flex">
            <div class="">
                <a class="text-decoration-none" href="#">
                    <img class="profile-pic" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="40" height="40" alt="...">
                </a>
            </div>
            <div class="flex-grow-1 pl-2">
                <a class="text-decoration-none text-capitalize h6 m-0 text-white" href="#">Tarzan</a>
                <p class="small m-0 text-muted">27 mins ago</p>
            </div>
            <div>
                <div class="dropdown">
                    <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chevron-down"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item text-primary" href="#">Edit</a>
                        <a class="dropdown-item text-primary" href="#">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- comment header -->
        <!-- comment body -->
        <div class="card-body p-0">
            <p class="card-text h7 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link small text-white" href="#">
                <i class="far fa-thumbs-up text-white"></i> 20 Like
            </a>
        </div>
    </div>
</div>