<%- include ("cabeceras/cabecera.principal.ejs") %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <%- include ("cabeceras/cabecera.crearproyecto.ejs") %>
        <div class="panel-group mt-4" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseResumenF"
                            aria-expanded="true" aria-controls="collapseOne">
                            Resumen financiero
                        </a>
                    </h4>
                </div>
                <div id="collapseResumenF" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <%- include ("tablas/4.1.Resumen.financiero.ejs") %>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFlujoE" aria-expanded="false" aria-controls="collapseTwo">
                            Flujo de efectivo
                        </a>
                    </h4>
                </div>
                <div id="collapseFlujoE" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <%- include ("tablas/4.2.Flujo.efectivo.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseEstadoR" aria-expanded="false" aria-controls="collapseThree">
                            Estado de resultados
                        </a>
                    </h4>
                </div>
                <div id="collapseEstadoR" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body">
                        <%- include ("tablas/4.3.Estado.resultados.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseIngresos" aria-expanded="false" aria-controls="collapseFour">
                            Ingresos
                        </a>
                    </h4>
                </div>
                <div id="collapseIngresos" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingFour">
                    <div class="panel-body">
                        <%- include ("tablas/4.4.Ingresos.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseCostosDir" aria-expanded="false" aria-controls="collapseThree">
                            Costos directos
                        </a>
                    </h4>
                </div>
                <div id="collapseCostosDir" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <%- include ("tablas/4.5.Costos.directos.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseGastosAdmin" aria-expanded="false" aria-controls="collapseThree">
                            Gastos administrativos
                        </a>
                    </h4>
                </div>
                <div id="collapseGastosAdmin" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body">
                        <%- include ("tablas/4.6.Gastos.administrativos.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseRecursos" aria-expanded="false" aria-controls="collapseThree">
                            Recursos (% de asignacion)
                        </a>
                    </h4>
                </div>
                <div id="collapseRecursos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <%- include ("tablas/4.7.Recursos.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseCostos" aria-expanded="false" aria-controls="collapseThree">
                            Costos
                        </a>
                    </h4>
                </div>
                <div id="collapseCostos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <%- include ("tablas/4.8.Costos.ejs") %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseResumenCosRecu" aria-expanded="false" aria-controls="collapseThree">
                            Resumen costos recursos
                        </a>
                    </h4>
                </div>
                <div id="collapseResumenCosRecu" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body">
                        <%- include ("tablas/4.9.Resumen.costos.recursos.ejs") %>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        </body>
        </html>