<%- include ("cabeceras/cabeceraprueba.ejs") %>
    <div class="container p-4 col-md-11">
        <div class="row">
            <!-- body -->
            <div class="col-md-3">
                <%- include ("partials/cardperfil.ejs") %>
            </div>
            <div class="col-md-6">
                <%- include ("partials/bodyinicio.ejs") %>
            </div>
            <div class="col-md-3">

                <div class="card mb-2 bg-dark text-white">
                    <%- include ("partials/solicitudes.ejs") %>
                </div>
                <div class="card mb-2 bg-dark text-white">
                    <%- include ("partials/popular.ejs") %>
                </div>
                <div class="card mt-2">
                    <%- include ("partials/otro.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include ("footers/footer.ejs") %>
        <script src="/js/fotoinvited.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        </body>

        </html>